.home-description{
  grid-row: 2/6;
  grid-column: 2/7;
  font-size: 2rem;
}
.home-description h2 span{
  font-family: "Playwrite CU", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  
}
.home-description span{
  color: var(--bg-color);
}
.home-description button{
  background-color: var(--bg-color);
  border: none;
  outline: none;
  height: 70px;
  width: 180px;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  font-size: 1.3rem;
  position: absolute;
  cursor: pointer;
}

.home-description button:hover{
  background-color: rgb(255, 255, 255);
  color: var(--bg-color);
  transition: all 0.2s ease-in-out;
}

.product{
  position: absolute;
  left: 50px;
  bottom: 0px;
  z-index: 2;
  transition: 1.2s;
}
.product p{
  position: absolute;
  top: -500px;
  transform: translateX(50%);
  white-space: nowrap;
  transition: opacity 0.5s;
}
.product:hover p {
  opacity: 0;
}
.product .soda{
  position: absolute;
  bottom: 0;
}
.product .bg1 {
  background-image: url(../img/home/hinata-before.jpg), url(../img/home/mockup.png);
  background-position: var(--left), 0 0;
}

.product .bg2{
  background: url(../img/home/hinata-after.jpg) var(--left),
              url(../img/home/mockup.png) 0 0;
  background-size: auto 100%;
  opacity: 0;
}
.soda{
  --left: 0px;
  background-size: auto 100%;
  width: 230px;
  aspect-ratio: 2 / 4;
  background-blend-mode: multiply;
  transition: all 0.8s;
  mask-image: url(../img/home/mockup.png);
  mask-size: auto 100%;

}

.product:hover {
  bottom: 100px;
}

.product:hover .soda:nth-child(2) {
  opacity: 1;
  --left: -350px;
}

.product:hover .soda:nth-child(1) {
  opacity: 0;
  --left: -300px;
}
