.nav{
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 15%;
}
.nav a{
  font-size: 1.8rem;
  white-space: nowrap;
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}
.nav h1{
  cursor: pointer;
  width: 100%;
  font-size: 4rem;
  text-align: center;
}
.links{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: left;
  align-items: center;
}
.links a{
  margin: 10px 0;
  width: 50%;
  cursor: pointer;
  animation: toRight 0.5s linear;
  margin-right: 0px;
}
.nav a:hover{
  scale: 1.05;
  color: var(--bg-color);
}