.nav{
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 15%;

}
.nav a{
  font-size: 1.8rem;
  white-space: nowrap;
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}
.nav h1{
  cursor: pointer;
  width: 100%;
  font-size: 3rem;
  text-align: center;
  font-family: "Playwrite CU", Arial, Helvetica, sans-serif;
}
.links{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: left;
  align-items: center;
}
.links a{
  margin: 20px 0;
  width: 80%;
  cursor: pointer;
  animation: toRight 0.5s linear;
  margin-right: 0px;
  font-size: 2.5rem;
  
}
.links a:focus{
  color: var(--bg-color);
}
.nav a:hover{
  scale: 1.05;
  color: var(--bg-color);
  transition: all 0.3s;
}
.contact-me{
  display: flex;
  width: 100%;
}
.contact-me a{
 scale: 3;
 margin: 40% auto;
}
.contact-me a:hover{
  scale: 2.8;
  transition: all 0.3s;
 }