
.projects-list{
  grid-column: 2/11;
  grid-row: 2/9;
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(
      to right,
      transparent,
      #000 10% 90%,
      transparent
  );
}
.projects-list .list{
  display: flex;
  width: 100%;
  height: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.projects-list .list .item{
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoPlay 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) )!important;
}
@keyframes autoPlay{
  from{ 
      left: calc(var(--width) * -1);
  }to{
      left: 100%;
  }
}
.projects-list .list .item img{
  width: 100%;
}

.projects-list:hover .item{
  animation-play-state: paused!important;
  filter: grayscale(1);
}
.projects-list .item:hover{
  filter: grayscale(0);
}