.projects-list{
  grid-column: 2/11;
  grid-row: 2/4;
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(
      to right,
      transparent,
      #000 10% 90%,
      transparent
  );
}
.list{
  display: flex;
  width: 100%;
  height: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
  text-align: center;
}
.item{
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoPlay 25s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc( (25s / var(--quantity)) * (var(--position) - 1) )!important;
}
.item img{
  width: 100%;
  height: 100%;
}
.title{
  text-align: center;
  position: absolute;
  bottom: 0px;
  background-color: rgba(var(--bg-rgb), 0.5);
  width: 100%;
  font-size: 2rem;
}
.item:hover{
  cursor: pointer;
}
@keyframes autoPlay{
  from{ 
      left: calc(var(--width) * -1);
  }to{
      left: 100%;
  }
}
.projects-list .list .item img{
  width: 100%;
}

.projects-list:hover .item{
  animation-play-state: paused!important;
  filter: grayscale(1);
}
.projects-list .item:hover{
  filter: grayscale(0);
}